// Custom styles.
code {
    color: #ff7600;
    background: #fbf7f8;
    margin: 2px;
}
// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    //border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}


.post {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px ;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
 }
